# =========================
# Build Dateien (C)
# =========================
*.o
*.obj
*.out
*.exe
*.app
*.dll
*.so
*.dylib

# Build Ordner
build/
bin/
dist/

# =========================
# Debug / Compiler
# =========================
*.dSYM/
*.stackdump

# gcc / clang
a.out

# =========================
# OS Dateien
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary files
# =========================
*.tmp
*.temp